/**
 * DEFAULT.CSS
 * Estilos globais base do sistema SGE UNIFIO.
 * Inclui: tipografia, layout geral, footer, mensagens de feedback.
 */

@import url('./components/agenda.css');
@import url('./components/calendar.css');
@import url('./components/event-popup.css');
@import url('./components/notifications.css');
@import url('./pages/auth/login.css');
@import url('./pages/auth/register.css');
@import url('./pages/dashboard.css');
@import url('./pages/profile.css');
@import url('./partials/header.css');
@import url('./partials/footer.css');
@import url('./pages/super_admin/gerenciar-usuarios.css');

:root {
    --blue-color: #0900FF;
    --textcolor-blue: #004386;
    --orange-color: #F28100;
    --background-color: #ffffff;
    --text-color: #333333;
    --gradient-color-login: linear-gradient(90deg,rgba(9, 0, 255, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(242, 129, 0, 1) 100%);
    --gradient-color-text: linear-gradient(90deg,rgba(9, 0, 255, 1) 0%, rgba(242, 129, 0, 1) 100%);
    --orange-color-opacity: rgba(242, 129, 0, 0.20);
    --blue-color-opacity: rgba(9, 0, 255, 0.20);
    --shadow-carousel: 1px 10px 39px -8px rgba(0,0,0,0.75); /* Sombra forte do carrossel */
    --shadow-card: 0 4px 12px rgba(0,0,0,0.4); /* Sombra média para cards */
    --shadow-card-hover: 0 6px 20px rgba(0,0,0,0.45); /* Sombra no hover */
    --shadow-light: 0 2px 6px rgba(0,0,0,0.08); /* Sombra leve */
}


body {
    font-family: 'Montserrat', Arial, sans-serif;
    min-height: 100vh; /* Garante altura mínima da tela */
}

/* TEMPORARIO, PARA CORRIGIR PROBLEMA DE BARRA DE ROLAGEM NO MOBILE (APARENTEMENTE O CARROSSEL ESTÁ VAZANDO) */
html, body {
  overflow-x: hidden;
}

.navbar, .navbar-collapse {
  max-width: 100%;
  overflow-x: visible;
}


.navbar-nav, .nav-item, .nav-link {
  max-width: 100%;
  white-space: nowrap;
}

/* Permitir que dropdowns se estendam além do container */
.navbar .dropdown-menu {
  overflow: visible;
  max-width: none;
}

.navbar-collapse.show {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  max-width: 100%;
  overflow: hidden;
}

button, a {
  overflow: hidden;
}
