#
# Configuração do Apache para a pasta 'public'.
# Redireciona todas as requisições que não são para arquivos ou diretórios existentes
# para o 'index.php', permitindo que o roteador PHP lide com as URLs amigáveis.
#
RewriteEngine On

# Redireciona tudo que não for um arquivo ou diretório existente para o index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]